<div [ngStyle]="getSvjetlo()" id="sve"></div>
<div  class="modal" tabindex="-1" id="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Password change</h5>
      </div>
      <div class="modal-body">
        <div>
          <p>Enter your email address that you set up in your user account.</p>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input [disabled]="!moguc_unos" [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <button [disabled]="!moguce_slanje" (click)="promijeniLozinku()" type="submit" class="btn btn-primary">Change password</button>
          <p style="margin-top:10px;">If the password for your user account is successfully changed, your new password will be sent to your email.</p>
           <a routerLink="/login">Return to login</a>
        </div>
      </div>
    </div>
  </div>
</div>
