#sve {
  padding:10px;
  box-sizing: border-box;
}
button {
  margin-top:10px;
}
p{
  margin:0;
  margin-top:10px;}
#note {
  height:100px;
  overflow: scroll;
  background-color:darkred;
  color:white;
}
