#sve {
  padding:10px;
  box-sizing: border-box;
}
button {
  margin-top:10px;
}
p{
  margin:0;
  margin-top:10px;}
#note {
  height:95px;
  overflow: scroll;
  background-color:darkred;
  color:white;
  clear:left;
}
#podaci {
  width:50%;
  float:left;
  height:420px;
}
#promjenaLozinke {
  width:50%;
  height:420px;
  float:left;
}
.form-row {
  width:90%;
}
.form-group {
  width:90%;
}
#odjava-btn {
  display:block;
  font-weight: bold;
}

